* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  color: #312a26;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p,
label,
span,
a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
  color: #c7a17a;
}

li {
  padding-left: 10px;
}

/* Header Area */
#nav {
  overflow: auto;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#nav h2 {
  float: left;
}

#nav ul {
  width: 50%;
  float: right;
  text-align: right;
  padding-top: 10px;
}

#nav a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

#nav li,
.footer-column2 li {
  display: inline-block;
}

/* Banner Area */
.banner {
  height: 600px;
  background-color: #c7a17a;
  background-image: url('../images/atf-image.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 5%;
}

.banner-text {
  width: 30%;
  position: relative;
  top: 20%;
  left: 5%;
}

.banner h2 {
  text-transform: uppercase;
  font-size: 70px;
  line-height: 70px;
  word-wrap: normal;
}

.banner span {
  color: rgb(43, 126, 18);
}

.banner p {
  font-style: italic;
  margin-bottom: 15px;
}

.banner a {
  padding: 15px 20px;
  background-color: rgb(27, 16, 1);
  color: white;
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a:hover {
  color: rgb(172, 109, 15);
}

/* Ads Area 1*/
.ads {
  overflow: auto;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.ads-box {
  width: 49.5%;
  float: left;
  height: 270px;
  background-size: cover;
  background-position: center;
  background-color: #312a26;
  position: relative;
}

.ads-box:nth-child(1),
.ads-box:nth-child(3) {
  margin-right: 1%;
}

.ads-box:nth-child(1),
.ads-box:nth-child(2) {
  margin-bottom: 1%;
}

.ads-box:nth-child(1) {
  background-image: url(../images/merchandise1.jpg);
}

.ads-box:nth-child(2) {
  background-image: url(../images/merchandise2.jpg);
}

.adstext {
  padding: 70px;
  text-transform: uppercase;
}

.adstext h3 {
  font-weight: bold;
  font-size: 25px;
  color: white;
  padding-bottom: 20px;
}

.adstext a {
  color: white;
}

/* Menu Area */
.menu {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
}

.menu label {
  color: #c7a17a;
}

.menu h2 {
  text-transform: uppercase;
}

.menu hr {
  text-align: center;
  margin-top: 10px;
  height: 2px;
  background-color: #c7a17a;
  width: 150px;
}

/* Container Area*/
.container {
  position: static;
  max-width: 2400px;
  margin-left: 10%;
  margin-right: 5%;
  background: white;
  overflow: auto;
  margin-bottom: 50px;
}

.box {
  margin: 5px;
  float: left;
  width: 260px;
}

.box img {
  width: 100%;
  height: auto;
}

/* Ads Area 2*/
.ads-box2 {
  width: 99%;
  float: left;
  height: 280px;
  background-size: cover;
  background-position: center;
  background-color: #312a26;
}

.ads-box2:nth-child(1),
.ads-box2:nth-child(2) {
  margin-bottom: 1%;
}

.ads-box2:nth-child(1) {
  background-image: url(../images/banner.jpg);
}

.adstext2 {
  text-align: center;
  padding: 90px;
  text-transform: uppercase;
}

.adstext2 label {
  color: #c7a17a;
}

.adstext2 h3 {
  font-weight: bold;
  font-size: 25px;
  color: white;
  padding-bottom: 20px;
}

.adstext2 a {
  color: white;
}

/* Ads Area 3 */
.ads {
  overflow: auto;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.ads-box3 {
  width: 49.5%;
  float: left;
  height: 260px;
  background-size: cover;
  background-position: center;
  background-color: #312a26;
  position: relative;
}

.ads-box3:nth-child(1),
.ads-box3:nth-child(3) {
  margin-right: 1%;
}

.ads-box3:nth-child(1),
.ads-box3:nth-child(2) {
  margin-bottom: 1%;
}

.ads-box3:nth-child(1) {
  background-image: url(../images/merchandise3.jpg);
}

.ads-box3:nth-child(2) {
  background-image: url(../images/merchandise4.jpg);
}

.ads-box3:nth-child(3) {
  background-image: url(../images/merchandise5.jpg);
}

.ads-box3:nth-child(4) {
  background-image: url(../images/merchandise6.jpg);
}

.adstext3 {
  text-align: left;
  padding: 80px;
  text-transform: uppercase;
}

.adstext3 label {
  color: #c7a17a;
}

.adstext3 h4 {
  font-weight: bold;
  font-size: 25px;
  color: white;
  padding-bottom: 20px;
}

.adstext3 a {
  color: white;
}

/* Form Area */
.reservation {
  overflow: auto;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.form {
  width: 49.5%;
  float: left;
  background-position: center;
  background-color: #757575;
  position: relative;
  padding: 30px;
  font-size: small;
  line-height: 1.6;
  border-radius: 5px;
}

.form:nth-child(1),
.form:nth-child(3) {
  margin-right: 1%;
}

.form:nth-child(1) {
  background-color: rgb(226, 226, 226);
}

.form:nth-child(2) {
  background-color: rgb(226, 226, 226);
}

.form-content input {
  width: 100%;
  height: 25px;
}

.text {
  text-align: center;
}

.text p,
.text label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.form-credit label,
.form-credit input {
  width: 100%;
  height: 25px;
}

.agree {
  margin-top: 10px;
}

.send {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  margin-top: 5px;
  border-radius: 3px;
}

/* Footer Area */
footer .footer-container {
  width: 100%;
  padding: 50px 0;
  position: relative;
  top: -50px;
}

/* Footer 1*/
footer .row {
  background-image: url(../images/footer-img.jpg);
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
}

footer .footer-column {
  width: 25%;
  padding-top: 40px;
  padding-left: 60px;
  line-height: 1.2;
}

footer .footer-column h3,
.footer-column h4,
footer .footer-column td,
footer .footer-column th,
footer p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.footer-text,
.footer2-text h4 {
  color: #c7a17a;
}

.footer-column input {
  border: none;
  padding: 8px;
  text-decoration: none;
  margin-top: 5px;
}

.footer-column input[type="button"] {
  background-color: #c7a17a;
  color: black;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.footer2-text {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Footer 2 */
.row2 {
  background-image: url(../images/footer-image.jpg);
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
}

.footer-column2 {
  width: 33%;
  padding-top: 40px;
  padding-left: 60px;
}

.footer-column2 a {
  text-decoration: underline;
}

.footer-column2 h2,
.footer-column2 a {
  color: white;
}

.footer-column2 a:hover {
  color: rgb(172, 109, 15);
}